<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/padrao.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>HOME</title>
</head>
<body>
    <header>
        <div class="center">
            <h1>LOGO</h1>

            <nav class="desktop-menu">
                <a href="/">INÍCIO</a>
                <a href="/pageVitrine">COMPRAR</a>
                <a href="/pageCarrinho">CARRINHO</a>
                <a href="/pageLogin">LOGIN</a>
            </nav>

            <nav class="mobile-menu">
                <img src="../static/imgs/mobile-menu.png" alt="">
                <div class="menu">
                    <a href="/">INÍCIO</a>
                    <a href="/pageVitrine">COMPRAR</a>
                    <a href="/pageCarrinho">CARRINHO</a>
                    <a href="/pageLogin">LOGIN</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="black">
            <div class="center">    
                <div class="marketing">
                    <p>texto e mais texto texto e mais texto texto e mais texto texto e mais texto texto e mais texto texto e mais texto <span>APENAS PRODUTOS ORIGINAIS, CONFIA!</span></p>
                    <a class="button" href="/pageVitrine">COMPRAR</a>
                </div>

                <img src="../static/imgs/camisas.png" alt="">
            </div>
        </div>
    </main>

    <footer>
        <p>MARCOS, RAFAELA</p>
    </footer>
    
    <script src="../static/js/mobile-menu.js"></script>
</body>
</html>