<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/padrao.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <title>LOGIN</title>
</head>
<body>
    <main>
        <form action="/login" method="post">
            <div class="name">
                <label for="login">LOGIN</label>
                <input id="login" type="text" name="login">
            </div>

            <div class="password">
                <label for="senha">SENHA</label>
                <input id="senha" type="password" name="senha">
            </div>

            <div class="action">
                <input class="button" type="submit" value="ENTRAR">
                <a href="/pageCadastrar">CADASTRAR</a>
            </div>

            <p class="msg" style="position: absolute; bottom: 0; left: 10px; text-transform: uppercase;">{{msg
                }}</p>

            <a href="/" class="voltar"></a>
        </form>
    </main>

    <script src="../static/js/login.js"></script>
</body>
</html>