<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/padrao.css">
    <link rel="stylesheet" href="../static/css/vitrine.css">
    <title>VITRINE</title>
</head>
<body>
    <p id="login" style="display: none;">{{login}}</p>
    <p id="lista-itens" style="display: none;">{{listaItens}}</p>
    <p id="msg-cadastro" style="display: none;">{{mgsCadastrado}}</p>

    <header>
        <div class="center">
            <h1>LOGO</h1>

            <nav class="desktop-menu">
                <a href="/">INÍCIO</a>
                <a href="/pageVitrine">COMPRAR</a>
                <a href="/pageCarrinho">CARRINHO</a>
                <a class="log" style="display: none;" href="/pageLogin">LOGIN</a>
                <a class="sair" href="sair" style="display: none;">SAIR</a>
            </nav>

            <nav class="mobile-menu">
                <img src="../static/imgs/mobile-menu.png" alt="">
                <div class="menu">
                    <a href="/">INÍCIO</a>
                    <a href="/pageVitrine">COMPRAR</a>
                    <a href="/pageCarrinho">CARRINHO</a>
                    <a class="log" style="display: none;" href="/pageLogin">LOGIN</a>
                    <a class="sair" href="sair" style="display: none;">SAIR</a>
                </div>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="center">
            <div class="add-item" title="ADICIONAR ITEM"></div>

            {% for item in listaItens %}
            <div class="item">
                <div class="content">
                    <div class="image"></div>
                    <p class="nomeItem">{{item[0]}}</p>
                    <p class="value">R$ {{item[1]}}</p>
                    <a class="button" href="/pageLogin/{{item[0]}}" title="Adicionar ao carrinho">ADICIONAR</a>
                </div>
            </div>
            {% endfor %}

            <div class="clear"></div>
        </div>
    </main>

    <footer>
        <p>MARCOS, RAFAELA</p>
    </footer>

    <div class="add">
        <div class="bg-add"></div>

        <form action="/addItemVitrine" method="post" class="addItemVitrine">
            <div class="fechar"></div>

            <div class="nome">
                <label for="nome">NOME:</label>
                <input id="nome" type="text" name="nomeItem">
            </div>

            <div class="valor">
                <label for="valor">VALOR:</label>
                <input id="valor" type="text" name="valorItem">
            </div>

            <div class="qtd">
                <label for="valor">QUANTIDADE:</label>
                <input id="qtd" type="text" name="qtdItem">
            </div>

            <input class="button" type="submit" value="ADICIONAR">

            <p class="msg"></p>
        </form>
    </div>

    <script src="../static/js/logado.js"></script>
    <script src="../static/js/add-item-vitrine.js"></script>
    <script src="../static/js/msg-cadastro-item.js"></script>
    <script src="../static/js/mobile-menu.js"></script>
</body>
</html>