<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/padrao.css">
    <link rel="stylesheet" href="../static/css/carrinho.css">
    <title>CARRINHO</title>
</head>
<body>
    <header>
        <div class="center">
            <h1>LOGO</h1>

            <nav class="desktop-menu">
                <a href="/">INÍCIO</a>
                <a href="/pageVitrine">COMPRAR</a>
                <a href="/pageCarrinho">CARRINHO</a>
                <a href="/sair">sair</a>
            </nav><!--desktop-menu-->

            <nav class="mobile-menu">
                <img src="../static/imgs/mobile-menu.png" alt="">
                <div class="menu">
                    <a href="/">INÍCIO</a>
                    <a href="/pageVitrine">COMPRAR</a>
                    <a href="/pageCarrinho">CARRINHO</a>
                    <a href="/sair">sair</a>
                </div><!--menu-->
            </nav><!--mobile-menu-->
        </div><!--center-->
    </header>

    <main>
        <div class="center">
            <div class="item">
                <div class="image"></div><!--image-->
                <p class="description">Este é um exemplo de texto criado para conter exatamente cem letras. Garantimos que a c</p><!--description-->
                <p class="qtd">10x</p><!--qtd-->
                <p class="total">4000,00RS</p><!--total-->
                <div class="clear"></div><!--clear-->

                <div class="maneger">
                    <span class="less"></span><!--less-->
                    <span class="plus"></span><!--plus-->
                    <span class="remove"></span><!--remove-->
                </div><!--maneger-->
            </div><!--item-->





            <div class="price">
                <p class="value">4000,00R$</p><!--value-->
                <button class="buy button" >COMPRAR</button><!--buy-->
            </div><!--price-->
        </div><!--center-->
    </main>

    <footer>
        <p>MARCOS, RAFAELA</p>
    </footer>

    <script src="../static/js/mobile-menu.js"></script>
</body>
</html>